div {
    display: inline;
    font-size: 5vw;
    transition: all 0.5s ease-in-out;
    direction: rtl;
}

div::after {
    content: ' ';
}

span {
    /* font-family: conv_original-hafs; */
}

.downward-letter {
    color: red;
}

.upward-letter {
    color: blue;
}

span:hover {
    cursor: pointer;
    text-shadow: 2px 2px 2px gray;
}


div:hover {
    /* font-size: 7vw; */
    /* letter-spacing: 8px; */
}
