@import '~@angular/material/theming';
@font-face {
    font-family: "conv_original-hafs";
    src: url("../fonts/original-hafs.woff") format('woff');
}

$custom-typography: mat-typography-config($font-family: '"conv_original-hafs", sans-serif');
@include mat-core($custom-typography);

$custom-primary: mat-palette($mat-blue);
$custom-accent: mat-palette($mat-amber);
$custom-theme: mat-light-theme($custom-primary, $custom-accent);
@include angular-material-theme($custom-theme);

.mat-typography {
    font: 400 50px/50px "conv_original-hafs", sans-serif;
}