.user-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    transition: all 0.5s ease-in-out;
}

.user-item:hover {
    border-radius: 5px;
    background: linear-gradient(45deg, #a7e22a, #efe90ef0);
}

.selected-user {
    background: linear-gradient(45deg, #25aff9, #00ff97e8);
    border-radius: 5px;
}

.user-item > p {
    margin: 0;
}

.user-item>p:hover {
    cursor: pointer;
    text-shadow: 2px 2px 2px grey;
}

.user-item > img {
    border-radius: 50%;
    margin: 10px;
}

.user-item > img:hover {
    box-shadow: 5px 5px 5px grey;
}
