<div class="app-container">


    <nav>
        filters
        <input type="text" [formControl]="pageInput">
    </nav>

    <div class="page-container">
        page container

        <sura
        *ngFor="let sura of pageSuras | async"
        [suraId]="sura.suraId"
        [versesIds]="sura.versesIds"
        ></sura>
        
    </div>

    <div class="users-container">

        <div>
            current User: {{ (users | async)[currentUser | async]['name'] }}
        </div>

        <div
        *ngFor="let userId of keys(users | async)">
            <p (click)="changeCurrentUser(userId)">{{ (users | async)[userId]['name'] }}</p>
        </div>

    </div>


</div>
