.app-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    min-height: 100vh;
    background: linear-gradient(45deg, #eaeaea, transparent);
    margin: 20px 0;
}

.page-container {
    font-size: 5.2vw;
    line-height: 1.5;

    border: 1px solid #d0d0d0;
    box-shadow: 5px 5px 5px grey;
    padding: 10px;
    border-radius: 10px;
}

.users-container {
    background: linear-gradient(45deg, #0119fb, #ffffffd4);
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 20px;
}

@media screen and (max-width: 768px){
    nav, .users-container{
        display: none;
    }
    .app-container{
        grid-template-columns: 100%;
    }
}